@model AdmPractica1.Models.lewensztain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lewensztain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Friendoflewensztain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friendoflewensztain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.lewensztainID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
